body {
  margin: 0;
  font-family: monospace;
  background-color: var(--background-color);
  color: var(--text-color);
}

.main-page {
  display: flex;
  flex-direction: column;
}

.for-navbar {
  display: none;
}

.navbar {
  z-index: 1;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  padding: 20px;
  transition: all 0.3s ease;
}

.message {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex: 1;
  max-width: 100%;
  transition: all 0.3s ease;
}

.message-expanded {
  max-width: 40%;
}

.quota {
  font-size: 2.5em;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-calendar {
  min-width: 60%;
  margin: 0 auto;
}

.calendar-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  transition: width 0.5s ease;
  cursor: pointer;
}

.calendar-icon:hover {
  width: 100px;
  padding: 10px;
}

.calendar-section {
  flex: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.calendar-visible {
  flex: 1;
  max-width: 60%;
  position: relative;
  bottom: 150px;
}

.calendar-visible .calendar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #666;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.hide-button {
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #000;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hide-button:hover {
  background-color: #fff;
  color: #000;
}

.component-class {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--font-family);
}

@media screen and (max-width: 600px) and (min-width: 320px) {    
  .main-content {
    display: flex;
    flex-direction: column;
  }
  
  .message {
    max-width: 90%;
    font-size: 0.5rem;
  }
  
  .calendar-icon {
    top: 90px;
    width: 3rem;
  }
  
  .calendar-visible {
    max-width: 100%;
    width: 600px;
    bottom: 0rem;
  }
  
  .hide-button {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .component-class {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: var(--font-family);
  }
}