.navbar {
  background-color: #2c2c2c;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
}

.navbar li {
  flex: 1;
  text-align: center;
}

.navbar li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: font-size 0.3s ;
}

.navbar li a:hover {
  font-size: 2rem;
}

.navbar .active a {
  font-weight: bold;
}
